:root {
    --grid-cols: 1;
    --grid-rows: 1;
  }
  
  #container {
    border: 10px solid red;
    width: 900px;
    height: 900px;

    display: grid;
    grid-gap: 0px;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
  }
  
  .grid-item {
    padding: 0px;
    border: 1px solid #ddd;
}

  .hover {
    background-color: black;
  }




